html,
body {
  /*background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );*/
  width: 100px;
  height: 30px;
  background: rgb(227, 227, 227);
  background: linear-gradient(
    90deg,
    rgba(227, 227, 227, 1) 0%,
    rgba(182, 182, 182, 1) 7%,
    rgba(182, 182, 182, 1) 13%,
    rgba(227, 227, 227, 1) 25%
  );
  background-size: 900%;
  background-position: 100% 0%;
  animation: animation 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes animation {
  0% {
    background-position: 100% 0%;
  }
  99.99% {
    background-position: -30% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
.svg-hover:hover {
  transform: translate(0, -5px);
  box-shadow: 0px 12px 5px -8px rgba(0, 0, 0, 0.2);

  /*height: 100%;
  width: 100%;
  background-color: #ffd500;
  clip-path: circle(50% at 4% 17%);
  position: absolute;
  z-index: -1;*/
}
